* {
  box-sizing:border-box;
}

body {
  font-family:Verdana, sans-serif;
}
.rotate{
  width: 50px;
  transform: rotate(90deg);
}
.demo {
  cursor:pointer
}
.w3-row-padding{
  display: flex;
}
.mar{
  margin: 1rem;
}
.w3-opacity,.w3-hover-opacity:hover{
  opacity:0.60;
}
.w3-opacity-off,.w3-hover-opacity-off:hover{
  opacity:1;
}
.w3-opacity-max{
  opacity:0.25;
}
.w3-opacity-min{
  opacity:0.75;
}

.mySlides {
  display:none;
  width:100%;
}
img {
  vertical-align:middle;
}

.slideshow-container {
  display:flex;
  justify-content:center;
  max-width:100%;
  position:relative;
  margin:auto;
}

.dot {
  cursor: pointer;
  height:15px;
  width:15px;
  margin:0 2px;
  border:2px solid #717171;
  border-radius:50%;
  display:inline-block;
  transition:background-color 0.6s ease;
}

.active_slide {
  background-color:#717171;
}

.fade {
  -webkit-animation-name:fade;
  -webkit-animation-duration:6s;
  animation-name:fade;
  animation-duration:6s;
}

.img_book {
  background-color:#ffd700;
  padding:1rem;
  position:absolute;
  bottom:2rem;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {
    opacity:.99;
  }
  to {
    opacity:1;
  }
}

@media only screen and (max-width: 300px) {
  .text {
    font-size:11px;
  }
}

@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}